.employment-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.employment-checkbox {
  width: 11px;
  height: 11px;
  margin-right: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .employment-checkbox {
    width: 16px;
    height: 16px;
    margin-right: 16px;
  }
}

.employment-label {
  color: #f8fafc;
  font-size: 11px;
  font-family: 'Roboto';
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .employment-label {
    font-size: 16px;
  }
}
